@model WebApplication2.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Add</h2>

<form action='Home/Result' method='POST' align="left">
    <label>
        Please enter a new key for the dictionary:
    </label><br><br>
    <input name="NewElement1" type="text" value="" />
    <br /><br />
    <label>
        Please enter a new value for the dictionary:
    </label><br><br>
    <input name="NewElement2" type="text" value="" />
    <br /><br />
    <input type="submit" value="Add Entry" />

</form>

<p>@ViewBag.error</p>