
@model WebApplication2.ViewModels.RemoveViewModel

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove</h2>

<div>
    <form action='Remove' method='POST' align="left">
        <label>
            Which key would you like to use to delete that specific entry?
        </label><br><br />
        <select name="NewElement1">
            @foreach (var item in Model.TheDictionary)
            {
                <option value=@item.ID>@item.Keyelement</option>}
        </select>

        <br /><br />
        <input type="submit" value="Remove Item" />
    </form>
</div>
